@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: #161616;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 100px;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
}

p,
a {
  font-size: 20px;
}

.navbar {
  background: #161616;
  border-bottom: 1px solid #363636;
}

button {
  background-color: white;
  color: black;
}

.email {
  font-size: 30px;
}

footer a {
  border-bottom: 1px solid white;
}

/* HOME PAGE - SMALLER SCREEN */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px;
  }
  p,
  ul, a {
    font-size: 18px;
  }
  .grid, .grid img {
    display: block;
    padding: 2% 0;
  }

 .logo {
    padding-right: 8% !important;
  }
}
